.btn-primary {
  background: #42A5F5;
  color: #fff;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: all .2s ease;
}

.box_shadow{
  box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
  padding: 10px;
}

.top_section{
  display: flex;
  justify-content: space-between;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.active {
  display: block;
}

.logged_user{
  margin-right: 6rem;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
}

/* Recent used icons */
.recent_used{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  min-height: 14rem;
  background-color: white;
  border-radius: var(--border-radius-medium);
}

.recent_buttons{
  margin-right: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.recent_buttons button{
  display: flex;
  align-items: center;
  gap: 5px;
}

.recent_used .config{
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 20px;
  cursor: pointer;
  transition: all .2s ease;
}

.recent_used .config:hover{
  transform: scale(1.1);
}

.recent_used button i{
  font-size: 30px;
  color: #fff;
}

.date_picker{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.date_picker button{
  float: right;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 1rem;
}

.date_picker button i{
  font-size: 20px;
}

/* Recent used icons end */

/* Tasks */
.task_preview{
  display: flex;
  gap: 10px;
}

.tasks{
  justify-content: center;
  display: flex;
  text-align: center;
  padding: 5px;
  color: #fff;
  border-radius: 2px;
  width: 33%;
}

.all{
  background: #42A5F5;
}

.done{
  background: #66BB6A;
}

.undone{
  background: #EF5350;
}
/* Tasks end */

.table_section {
  margin-top: 1rem;
  position: relative;
}

.table_section > div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}