.document-row {
  padding: var(--space-2) var(--space-2);
  padding-right: 0;
  margin: var(--space-1) 0;
  display: grid;
  align-items: center;
  border-radius: var(--border-radius-medium);
  background-color: white;
}

.document-row > div:nth-last-of-type(2) {
  display: flex;
  justify-content: center;
}

.edit-button {
  color: var(--color-primary-500);
  font-size: 1.2rem;
}

.trash-button {
  color: var(--color-error-500);
  font-size: 1.2rem;
}

.document-row .options-div {
  display: flex;
  align-items: center;
  justify-content: center;
}