.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table_div {
  position: relative;
  color: var(--color-gray-500);
  min-height: fit-content;
  border-bottom: 2px solid var(--color-gray-100);
  padding-top: 3rem;
  white-space: nowrap;
}

.table_div > div {
  border-bottom: 2px solid var(--color-gray-100);
  border-radius: unset;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
}

.table_div > div > div {
  display: flex;
  align-content: center;
  justify-content: center;
}

.table_div > div > div > div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-left: var(--space-2);
}

.table_item > div {
  border-radius: var(--border-radius-small);
}

.table_item > div:hover {
  background-color: var(--color-gray-100);
}

.table_item .normal__arrow {
  font-size: var(--space-2);
  color: var(--color-gray-200);
}

.table_item .arrow__selected {
  font-size: var(--space-3);
  color: var(--color-gray-500);
}

.users-list {
  overflow-y: scroll;
}

.users-list::-webkit-scrollbar {
  width: var(--space-2);
}

.users-list::-webkit-scrollbar-track {
  border-radius: 100vw;
  margin-top: 2.5rem;
}

.users-list::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 100vw;
}

.users-list:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-200);
}

.table_item,
.users-list > li {
  padding: var(--space-2);
  margin: var(--space-1) 0;
  display: grid;
  align-items: center;
  border-radius: var(--border-radius-medium);
}

.users-list > li {
  padding-right: 0;
}

.users-list li:hover {
  background-color: var(--color-gray-100);
}