.filter_div {
  margin-top: 1.5rem;
  border-radius: var(--border-radius-medium);
  padding: 1rem 0.5rem 0.5rem;
  border: 2px solid var(--color-gray-200);
  position: relative;
  max-width: 10rem;
  height: fit-content;
}

.filter_label {
  padding-inline: 0.5rem;
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 1.2rem;
  translate: -50% -50%;
  background-color: var(--color-gray-50);
}

.filter_div form > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.filter_div input {
  width: 90%;
}

.tags-div {
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.tags-div label {
  cursor: pointer;
}

.tags-div > div:first-of-type {
  width: 90%;
  font-size: 1rem;
  border: 2px solid var(--color-gray-200);
  background-color: transparent;
  border-radius: var(--border-radius-small);
  padding: 0.2rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.tags-div > div:first-of-type:hover {
  border-color: var(--color-gray-300);
}

.tags-div > i {
  margin-right: auto;
}

.tags-container {
  position: absolute;
  top: 3.5rem;
  left: 5%;
  width: 90%;
  max-height: 10rem;
  overflow-y: scroll;
  background-color: var(--color-gray-50);
  z-index: 2;
  border: 2px solid var(--color-gray-200);
  border-radius: var(--border-radius-small);
  padding: 0.2rem 0.2rem;
}

.tags-container::-webkit-scrollbar {
  width: 0.3rem;
  background-color: transparent;
}

.tags-container::-webkit-scrollbar-track {
  border-radius: 100vw;
}

.tags-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 100vw;
}

.tags-container:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-200);
}

.tags-container > div {
  padding: 0.2rem 0.3rem;
  border-radius: var(--border-radius-small);
  cursor: pointer;
}

.tags-container > div:hover {
  background-color: var(--color-gray-100);
}