.div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 0 10% 1rem;
}

.div input {
  width: 100%;
  border-radius: var(--border-radius-small);
  border: 1px solid var(--color-gray-300);
  padding: 0.3rem 0.2rem;
  font-size: 1rem;
}

.div label {
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
}

.y-circle {
  color: green;
  font-size: 1.5rem;
  position: absolute;
  right: calc(10% + 0.3rem);
  top: 2.35rem;
}

.x-circle {
  color: rgb(121, 26, 26);
  font-size: 1.5rem;
  position: absolute;
  right: calc(10% + 0.3rem);
  top: 2.35rem;
}

.error-div {
  color:rgb(121, 26, 26);
  position: absolute;
  top: 4.5rem;
  left: 10%;
  font-size: 0.8rem;
}

.empty-div {
  color: rgb(133, 111, 0);
  position: absolute;
  top: 4.5rem;
  left: 10%;
  font-size: 0.8rem;
  white-space: nowrap;
}

.alert {
  color: rgb(203, 61, 61);
  position: absolute;
  top: 4.5rem;
  left: 10%;
  font-size: 0.8rem;
  white-space: nowrap;
}