.tag-button {
  padding: 0.3rem;
  border-radius: var(--border-radius-small);
  outline: 2px solid var(--color-gray-300);
  background-color: var(--color-gray-50);
  cursor: pointer;
  font-size: 1.3rem;
  margin-right: 0.4rem;
  display: flex;
  align-items: center;
  border: none;
}

.tag-button:hover {
  outline: 2px solid orange;
}

.tag-selected {
  outline: 2px solid orange;
}

.tags-div {
  width: 100%;
  height: 10rem;
  position: relative;
  border: 2px solid var(--color-gray-500);
  border-radius: var(--border-radius-small);
  overflow: hidden;
}

.tags-location {
  position: sticky;
  top: 0;
  left: 0;
  height: 2rem;
  width: 100%;
  color: var(--color-gray-50);
  background-color: var(--color-gray-500);
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.tags-location span {
  margin-right: 0.2rem;
  color: var(--color-gray-50);
}

.tags-location div:last-of-type span:last-of-type {
  color: orange;
}

.home-location {
  color: var(--color-primary-200);
}

.tag-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.check-div {
  height: calc(100% - 2rem);
}

.check_list_item {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  height: 1.4rem;
  padding: 0.2rem 0.2rem;
  display: flex;
  border-bottom: 1px solid var(--color-primary-500);
}

.check-div > .check_list_item {
  background-color: var(--color-gray-100);
}

.check_list_item > div {
  flex: 1;
  line-height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check_list_item > div:not(.check_list_item > div:last-of-type) {
  border-right: 1px solid var(--color-primary-500);
}

.check_list_item i {
  font-size: 1rem;
  color: darkgreen;
  margin-inline: 0.2rem;
  cursor: pointer;
}

.check_list_div {
  height: calc(100% - 1.4rem);
  overflow-y: scroll;
}

.check_list_div::-webkit-scrollbar {
  width: 0.2rem;
  background-color: transparent;
}

.check_list_div::-webkit-scrollbar-track {
  border-radius: 100vw;
}

.check_list_div::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 100vw;
}

.check_list_div:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-200);
}

.buttons-div {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}